$color-primary:#fff;
$text-primary:#929191;
$icons-color:#fae202;
$background-color:#000;

@import url(https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap);

@mixin shadow-1{
    border-radius:.3125rem;
}
