@import url(https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap);
body {
  font-family: 'Red Rose', cursive;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

input:focus, input:active {
  box-shadow: none !important; }

img {
  max-width: 100%; }

section {
  padding: 3.125rem 0;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 575.98px) {
    section {
      padding: 1.25rem 0; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    section {
      padding: 1.875rem 0; } }

.container {
  max-width: 1170px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 0px 15px;
      max-width: 100%;
      width: 100%; } }

.main-nav {
  position: relative;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  width: 100%;
  flex: 1 1 100%;
  padding: 5px 0px;
  background: #000; }
  .main-nav .logo {
    width: 30%;
    flex: 1 1 30%;
    max-width: 30%;
    display: block;
    padding: 0 15px; }
    @media screen and (max-width: 768px) {
      .main-nav .logo {
        width: 100%;
        flex: 1 1 100%;
        max-width: 100%;
        padding: 10px 15px; } }
  .main-nav .my-nav {
    width: 70%;
    flex: 1 1 70%;
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media screen and (max-width: 767.98px) {
      .main-nav .my-nav {
        width: 100%;
        flex: 1 1 100%;
        max-width: 100%;
        justify-content: flex-start; } }
    .main-nav .my-nav .menu {
      position: relative; }
      @media screen and (max-width: 767.98px) {
        .main-nav .my-nav .menu {
          display: none;
          left: -100%;
          transition: all ease-in-out 0.5s; } }
      .main-nav .my-nav .menu ul li {
        display: inline-block;
        font-size: 16px;
        text-transform: capitalize;
        transition: 0.4s;
        padding: 10px 15px; }
        @media screen and (max-width: 767.98px) {
          .main-nav .my-nav .menu ul li {
            display: block;
            padding: 15px 0px; } }
        @media (min-width: 768px) and (max-width: 991.98px) {
          .main-nav .my-nav .menu ul li {
            padding: 10px; } }
        .main-nav .my-nav .menu ul li a {
          color: #fff;
          padding: 10px 17px;
          font-weight: 600; }
          @media (min-width: 768px) and (max-width: 991.98px) {
            .main-nav .my-nav .menu ul li a {
              padding: 10px 6px; } }

.menu-toggle {
  height: 40px;
  width: 40px;
  align-items: center;
  margin: 0px 0 0 40px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 20px;
  color: #fae202;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; }
  .menu-toggle::before {
    position: absolute;
    content: "\f0c9";
    font-size: 25px;
    color: #fae202;
    font-family: "Font Awesome 5 Pro"; }
  @media screen and (max-width: 768px) {
    .menu-toggle {
      opacity: 1;
      visibility: visible; } }

.active::before {
  content: "\f00d" !important; }

.menu.active {
  display: block !important;
  left: 0 !important; }

.menu.active::before {
  display: none; }

.slider {
  position: relative;
  padding: 6.25rem 0;
  overflow: hidden;
  padding-bottom: 0; }
  .slider .slide-content {
    position: relative;
    transition: all ease-in .6s; }
    .slider .slide-content .owl-carousel .owl-dots {
      position: absolute;
      display: flex;
      justify-content: center;
      width: 100%;
      bottom: 0;
      z-index: 1;
      padding-right: 2.5rem; }
      .slider .slide-content .owl-carousel .owl-dots .owl-dot {
        height: .625rem;
        width: .625rem;
        background-color: #fff;
        border-radius: 50%;
        display: block;
        margin: .625rem; }
        .slider .slide-content .owl-carousel .owl-dots .owl-dot:focus, .slider .slide-content .owl-carousel .owl-dots .owl-dot:active {
          box-shadow: none !important;
          border: none !important; }
        .slider .slide-content .owl-carousel .owl-dots .owl-dot.active {
          background-color: #fae202; }
    .slider .slide-content .round {
      position: absolute;
      top: 20%;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 1px solid #fff;
      z-index: 9;
      opacity: .3;
      left: -200px; }
    .slider .slide-content .shape {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
      .slider .slide-content .shape .shape-1 {
        position: absolute;
        width: .625rem;
        height: 1.25rem;
        background: #fae202;
        border-radius: 1.25rem;
        left: 13.7%; }
        .slider .slide-content .shape .shape-1::before {
          position: absolute;
          content: "01";
          font-size: 1.25rem;
          color: #fae202;
          font-weight: bold;
          top: 1.25rem; }
      .slider .slide-content .shape .shape-2 {
        position: absolute;
        width: 6.25rem;
        height: 3.125rem;
        background: #fff;
        border-radius: 1.25rem;
        left: 25%;
        transform: rotate3d(34, 13, 0, 66deg);
        opacity: .1; }
        .slider .slide-content .shape .shape-2::before {
          position: absolute;
          content: "";
          width: 6.25rem;
          height: 3.125rem;
          background: #fff;
          border-radius: 1.25rem;
          left: 3.125rem;
          top: 6.25rem;
          transform: rotate3d(4, 13, 0, 66deg); }
      .slider .slide-content .shape .shape-3 {
        position: absolute;
        width: .625rem;
        height: 1.25rem;
        background: #fae202;
        border-radius: 1.25rem;
        right: 11.8%; }
        .slider .slide-content .shape .shape-3::before {
          position: absolute;
          content: "banner";
          font-size: 1.125rem;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          transform: rotate(90deg);
          top: 4.375rem;
          right: -2.0625rem;
          opacity: .2;
          z-index: 9; }
      .slider .slide-content .shape .shape-4 {
        position: absolute;
        bottom: 0;
        left: 12.1%; }
        .slider .slide-content .shape .shape-4 h5 {
          font-size: 1.125rem;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          transform: rotate(90deg);
          margin: 0px 0px 64px -26px;
          opacity: .1; }
        .slider .slide-content .shape .shape-4 ol li {
          display: block;
          margin: .625rem 1.25rem;
          position: relative;
          z-index: 99;
          cursor: pointer;
          transition: .3s;
          color: #fff;
          opacity: .5; }
          .slider .slide-content .shape .shape-4 ol li:last-child {
            margin-bottom: 0; }
          .slider .slide-content .shape .shape-4 ol li:hover {
            color: #fae202;
            opacity: 1; }
    .slider .slide-content .item .container {
      position: relative; }
      .slider .slide-content .item .container::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border: 1px solid #fff;
        top: 0;
        opacity: .1;
        border-top: 0;
        border-bottom: 0; }
      .slider .slide-content .item .container::after {
        position: absolute;
        content: "";
        width: 1px;
        left: 50%;
        height: 100%;
        opacity: .1;
        top: 0;
        background: #fff; }
    .slider .slide-content .item .wrapper {
      position: relative;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      z-index: 9; }
      .slider .slide-content .item .wrapper .content {
        position: absolute;
        transform: translateY(100px);
        transition: all ease-in-out .6s;
        text-align: center;
        z-index: 99;
        top: 20%; }
        .slider .slide-content .item .wrapper .content h1 {
          color: #fff;
          font-size: 3.125rem;
          text-transform: uppercase;
          letter-spacing: .0625rem;
          margin: .625rem 0;
          font-weight: 800;
          display: block; }
        .slider .slide-content .item .wrapper .content h4 {
          color: #fff;
          font-size: 1.25rem;
          font-weight: 100;
          text-transform: capitalize; }
        .slider .slide-content .item .wrapper .content a {
          padding: .3125rem 1.25rem;
          border-radius: 1.25rem;
          background: #fae202;
          color: #fff;
          font-size: 1.125rem;
          text-transform: capitalize;
          display: inline-block;
          margin: .3125rem;
          border: 0;
          border-bottom: .125rem solid #c4b203;
          cursor: pointer;
          position: relative;
          z-index: 99; }
      .slider .slide-content .item .wrapper .image {
        position: relative;
        z-index: 8; }
        .slider .slide-content .item .wrapper .image::before {
          position: absolute;
          content: "";
          left: -4.375rem;
          top: 1.25rem;
          height: 31.25rem;
          width: 31.25rem;
          border-radius: 50%;
          border-bottom: solid  #5d5502 1.875rem;
          border-top: 1.875rem solid #5d5502;
          border-left: 1.875rem solid #5d5502;
          border-right: 1.875rem solid #5d5502;
          z-index: 7; }
        .slider .slide-content .item .wrapper .image img {
          position: relative;
          z-index: 9; }

.bg-01 {
  padding: 0; }
  .bg-01::before {
    position: absolute;
    content: "";
    right: 0;
    height: 100%;
    width: 50%;
    background: url(../images/abt-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    @media screen and (max-width: 767.98px) {
      .bg-01::before {
        display: none; } }
  .bg-01 .li-001 {
    position: relative; }
    .bg-01 .li-001 .se-shape {
      position: absolute;
      width: 100%;
      height: 100%; }
      .bg-01 .li-001 .se-shape::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        opacity: .1; }
    .bg-01 .li-001 .main-wrapper {
      position: relative;
      padding: 3.125rem 0; }
      @media screen and (max-width: 575.98px) {
        .bg-01 .li-001 .main-wrapper {
          padding: 1.25rem 0; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .bg-01 .li-001 .main-wrapper {
          padding: 1.875rem 0; } }
    .bg-01 .li-001 .heading {
      display: block;
      position: relative;
      margin: 1.25rem 0 0 0;
      z-index: 9; }
      .bg-01 .li-001 .heading h2 {
        font-size: 1.875rem;
        color: #fff;
        text-transform: uppercase;
        display: block;
        margin: .625rem 0 0;
        font-weight: 700;
        position: relative;
        display: block;
        width: fit-content;
        padding-bottom: .625rem; }
        .bg-01 .li-001 .heading h2::before {
          position: absolute;
          content: "";
          right: 0;
          height: .3125rem;
          width: 3.125rem;
          background: #fae202;
          bottom: 0;
          border-radius: 1.25rem; }
      .bg-01 .li-001 .heading span {
        position: relative;
        display: block;
        font-size: 1.25rem;
        color: #929191;
        font-size: 1.25rem;
        font-weight: 100; }
    .bg-01 .li-001 .content {
      position: relative;
      display: flex;
      flex: 1 1 50%;
      max-width: 50%;
      width: 50%;
      flex-direction: column;
      margin: 1.25rem 0;
      padding: 1.25rem 0; }
      @media screen and (max-width: 767.98px) {
        .bg-01 .li-001 .content {
          flex: 1 1 100%;
          max-width: 100%;
          width: 100%; } }
      .bg-01 .li-001 .content p {
        font-size: .9375rem;
        letter-spacing: .6px;
        color: #929191;
        font-weight: normal;
        line-height: 1.6875rem; }
        .bg-01 .li-001 .content p:nth-child(2) {
          margin: .625rem 0; }
    .bg-01 .li-001 .use-icons {
      position: relative;
      margin: 1.25rem .625rem; }
      .bg-01 .li-001 .use-icons ol li {
        display: inline-block;
        position: relative;
        margin: .625rem 0;
        transition: all ease-in-out .3s;
        padding: 0 1.25rem 0 3.125rem; }
        .bg-01 .li-001 .use-icons ol li span {
          position: absolute;
          left: 0;
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: flex-start; }
          .bg-01 .li-001 .use-icons ol li span::before {
            font-size: 2.5rem;
            margin: 0;
            color: #fff; }
        .bg-01 .li-001 .use-icons ol li h5 {
          font-size: 1rem;
          color: #929191;
          display: block;
          margin: .3125rem 0;
          font-weight: 700; }
        .bg-01 .li-001 .use-icons ol li h3 {
          font-size: 1.875rem;
          color: #fae202;
          font-weight: 700;
          text-transform: uppercase; }

.bg-02 {
  padding: 0; }
  .bg-02 .li-001 {
    position: relative; }
    .bg-02 .li-001 .se-shape {
      position: absolute;
      width: 100%;
      height: 100%; }
      .bg-02 .li-001 .se-shape::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        opacity: .1; }
    .bg-02 .li-001 .main-wrapper {
      position: relative;
      padding: 3.125rem 0; }
      @media screen and (max-width: 575.98px) {
        .bg-02 .li-001 .main-wrapper {
          padding: 1.25rem 0; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .bg-02 .li-001 .main-wrapper {
          padding: 1.875rem 0; } }
  .bg-02 .heading {
    position: relative;
    margin: 1.25rem 0; }
    .bg-02 .heading h2 {
      font-size: 1.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      margin: .625rem 0 0;
      font-weight: 700;
      position: relative;
      display: block;
      width: fit-content;
      padding-bottom: .625rem;
      margin: 0 auto; }
      .bg-02 .heading h2::before {
        position: absolute;
        content: "";
        left: 35%;
        height: .3125rem;
        width: 3.125rem;
        background: #fae202;
        bottom: 0;
        border-radius: 1.25rem; }
  .bg-02 .wrapper {
    position: relative;
    margin: 1.25rem auto;
    height: 400px;
    width: 100%;
    display: block; }
    .bg-02 .wrapper input[type="radio"] {
      display: none; }
    .bg-02 .wrapper #first:checked ~ .image img {
      clip-path: circle(150% at 0% 100%); }
    .bg-02 .wrapper #second:checked ~ .image img,
    .bg-02 .wrapper #second:checked ~ .image-1 img {
      clip-path: circle(150% at 0% 100%); }
    .bg-02 .wrapper #third:checked ~ .image img,
    .bg-02 .wrapper #third:checked ~ .image-1 img,
    .bg-02 .wrapper #third:checked ~ .image-2 img {
      clip-path: circle(150% at 0% 100%); }
    .bg-02 .wrapper #four:checked ~ .image img,
    .bg-02 .wrapper #four:checked ~ .image-1 img,
    .bg-02 .wrapper #four:checked ~ .image-2 img,
    .bg-02 .wrapper #four:checked ~ .image-3 img {
      clip-path: circle(150% at 0% 100%); }
    .bg-02 .wrapper .img {
      height: 100%;
      width: 100%;
      position: absolute; }
      .bg-02 .wrapper .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: circle(0% at 0% 100%);
        transition: all .6s; }
    .bg-02 .wrapper .select-label {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%; }
      .bg-02 .wrapper .select-label label {
        height: .625rem;
        width: .625rem;
        background-color: #fff;
        margin: .3125rem;
        transition: all .5s ease;
        border-radius: 50%;
        cursor: pointer; }
        .bg-02 .wrapper .select-label label:hover {
          background: #fae202; }

.bg-se-01 {
  padding: 0; }
  .bg-se-01::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/background/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .1; }
  .bg-se-01 .li-001 {
    position: relative; }
    .bg-se-01 .li-001 .se-shape {
      position: absolute;
      width: 100%;
      height: 100%; }
      .bg-se-01 .li-001 .se-shape::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        opacity: .1; }
    .bg-se-01 .li-001 .main-wrapper {
      position: relative;
      padding: 3.125rem 0; }
      .bg-se-01 .li-001 .main-wrapper .heading {
        position: relative;
        margin: 1.25rem 0; }
        .bg-se-01 .li-001 .main-wrapper .heading h2 {
          font-size: 1.875rem;
          color: #fff;
          text-transform: uppercase;
          display: block;
          margin: .625rem 0 0;
          font-weight: 700;
          position: relative;
          width: fit-content;
          padding-bottom: .625rem; }
          .bg-se-01 .li-001 .main-wrapper .heading h2::before {
            position: absolute;
            content: "";
            left: 0;
            height: .3125rem;
            width: 3.125rem;
            background: #fae202;
            bottom: 0;
            border-radius: 1.25rem; }
        .bg-se-01 .li-001 .main-wrapper .heading p {
          color: #929191;
          font-size: 1rem;
          margin: .625rem 0;
          letter-spacing: .6px; }
  .bg-se-01 .wrapper {
    margin: 1.25rem 0;
    position: relative;
    display: block;
    padding: .625rem 1.185rem;
    transition: all ease-in-out .5s; }
    .bg-se-01 .wrapper .content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      position: relative;
      text-align: center; }
      .bg-se-01 .wrapper .content .icons {
        position: relative;
        display: block;
        margin: 0 auto;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        background: #303030;
        overflow: hidden;
        margin-bottom: .625rem; }
        .bg-se-01 .wrapper .content .icons:before {
          position: absolute;
          content: "";
          transform: scale(0);
          background: #fae202;
          transition: all ease-in-out .5s;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0; }
        .bg-se-01 .wrapper .content .icons:hover span {
          color: #fff; }
        .bg-se-01 .wrapper .content .icons:hover:before {
          transform: scale(1); }
        .bg-se-01 .wrapper .content .icons span {
          color: #fae202;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          transition: all ease-in-out .5s;
          position: relative;
          z-index: 1;
          font-size: 1.875rem; }
          .bg-se-01 .wrapper .content .icons span::before {
            font-size: 2.5rem; }
      .bg-se-01 .wrapper .content h3 {
        font-size: 1.25rem;
        color: #fff;
        margin: .625rem 0; }
      .bg-se-01 .wrapper .content p {
        font-size: .875rem;
        color: #929191;
        line-height: 1.625rem; }

.bg-se-04 {
  padding: 0;
  background: url(../images/background/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .bg-se-04::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); }
  .bg-se-04 .wrapper {
    position: relative;
    display: block;
    margin: 1.875rem 0;
    text-align: center;
    color: #fff;
    padding: 2.5rem 0; }
    .bg-se-04 .wrapper h2 {
      font-size: 1.875rem;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin: .625rem 0; }
    .bg-se-04 .wrapper p {
      display: block;
      color: #929191;
      font-size: 1.25rem;
      margin: .9375rem 0; }
      .bg-se-04 .wrapper p span {
        margin: 0 .625rem;
        font-size: 1.875rem;
        color: #fae202;
        font-weight: bold; }
    .bg-se-04 .wrapper a {
      color: #fff;
      padding: .625rem 1.25rem;
      border: 1px solid #fff;
      display: inline-block;
      text-transform: capitalize;
      margin: 1.25rem 0;
      cursor: pointer; }

.li-001 {
  position: relative; }
  .li-001 .se-shape {
    position: absolute;
    width: 100%;
    height: 100%; }
    .li-001 .se-shape::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      opacity: .1; }
  .li-001 .main-wrapper {
    position: relative;
    padding: 3.125rem 0; }

.bg-se-02 {
  padding: 0; }
  .bg-se-02 .heading {
    position: relative;
    margin: 1.25rem 0; }
    .bg-se-02 .heading h2 {
      font-size: 1.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      margin: .625rem 0 0;
      font-weight: 700;
      position: relative;
      width: fit-content;
      padding-bottom: .625rem; }
      .bg-se-02 .heading h2::before {
        position: absolute;
        content: "";
        left: 0;
        height: .3125rem;
        width: 3.125rem;
        background: #fae202;
        bottom: 0;
        border-radius: 1.25rem; }
    .bg-se-02 .heading p {
      color: #929191;
      font-size: 1rem;
      margin: .625rem 0;
      letter-spacing: .6px; }
  .bg-se-02 .wrapper {
    position: relative;
    display: block;
    margin: 1.25rem 0;
    padding: 1.25rem; }
    .bg-se-02 .wrapper .content .sub {
      background: #303030;
      padding: .625rem;
      position: relative;
      text-align: center; }
      .bg-se-02 .wrapper .content .sub h3 {
        font-size: 1.25rem;
        color: #fff;
        display: block;
        margin: .625rem 0; }
      .bg-se-02 .wrapper .content .sub p {
        font-size: .9375rem;
        color: #929191;
        margin: 0 0 .625rem 0; }
    .bg-se-02 .wrapper .content .image {
      position: relative; }

.bg-se-03 {
  padding: 0; }
  .bg-se-03 .heading {
    position: relative;
    margin: 1.25rem 0; }
    .bg-se-03 .heading h2 {
      font-size: 1.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      margin: .625rem 0 0;
      font-weight: 700;
      position: relative;
      display: block;
      width: fit-content;
      padding-bottom: .625rem;
      margin: 0 auto; }
      .bg-se-03 .heading h2::before {
        position: absolute;
        content: "";
        left: 40%;
        height: .3125rem;
        width: 3.125rem;
        background: #fae202;
        bottom: 0;
        border-radius: 1.25rem; }
    .bg-se-03 .heading p {
      color: #929191;
      font-size: 1rem;
      margin: .625rem 0;
      letter-spacing: .6px;
      text-align: center; }
  .bg-se-03 .wrapper {
    margin: 1.25rem 0;
    position: relative;
    flex-wrap: wrap; }
    .bg-se-03 .wrapper .content {
      position: relative;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column; }
      .bg-se-03 .wrapper .content ol {
        display: flex;
        flex-wrap: wrap;
        width: 100%; }
        .bg-se-03 .wrapper .content ol li {
          display: block;
          width: 25%;
          color: #fff;
          text-align: center;
          font-size: 1rem;
          margin: 1.25rem 0; }
          @media screen and (max-width: 575.98px) {
            .bg-se-03 .wrapper .content ol li {
              width: 100%; } }
          @media (min-width: 576px) and (max-width: 767.98px) {
            .bg-se-03 .wrapper .content ol li {
              width: 50%; } }
          .bg-se-03 .wrapper .content ol li strong {
            display: block;
            margin: .625rem 0; }
          .bg-se-03 .wrapper .content ol li span {
            font-weight: normal;
            color: #929191; }

.bg-se-05 {
  padding: 0; }
  .bg-se-05::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../images/background/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .1; }
  .bg-se-05 .heading {
    position: relative;
    margin: 1.25rem 0; }
    .bg-se-05 .heading h2 {
      font-size: 1.875rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      margin: .625rem 0 0;
      font-weight: 700;
      position: relative;
      width: fit-content;
      padding-bottom: .625rem; }
      .bg-se-05 .heading h2::before {
        position: absolute;
        content: "";
        left: 0;
        height: .3125rem;
        width: 3.125rem;
        background: #fae202;
        bottom: 0;
        border-radius: 1.25rem; }
    .bg-se-05 .heading p {
      color: #929191;
      font-size: 1rem;
      margin: .625rem 0;
      letter-spacing: .6px; }
  .bg-se-05 ._lk_bg_sd_we {
    position: relative;
    overflow: hidden;
    margin: 20px 0; }
    .bg-se-05 ._lk_bg_sd_we ._xs_we_er {
      display: inline-block;
      width: 100%;
      padding: 15px;
      background: #303030; }
      .bg-se-05 ._lk_bg_sd_we ._xs_we_er ._he_w {
        position: relative;
        margin: 10px 0px;
        z-index: 2;
        overflow: hidden; }
        .bg-se-05 ._lk_bg_sd_we ._xs_we_er ._he_w p {
          font-size: 16px;
          color: #929191;
          letter-spacing: 0.2px;
          line-height: 24px;
          margin: 10px 0px 10px 0px; }
        .bg-se-05 ._lk_bg_sd_we ._xs_we_er ._he_w ol li {
          color: #fff;
          font-size: 14px;
          display: inline-block;
          width: 100%;
          margin: .625rem 0 0; }
          .bg-se-05 ._lk_bg_sd_we ._xs_we_er ._he_w ol li ._mn_cd_xs {
            margin: 0 10px; }
          .bg-se-05 ._lk_bg_sd_we ._xs_we_er ._he_w ol li span {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            margin: 0 5px 0 0; }
        .bg-se-05 ._lk_bg_sd_we ._xs_we_er ._he_w h3 {
          font-size: 18px;
          font-weight: 400;
          color: #fff; }
    .bg-se-05 ._lk_bg_sd_we ._bv_xs_we {
      position: relative; }
      .bg-se-05 ._lk_bg_sd_we ._bv_xs_we:hover::before {
        opacity: 0.8;
        height: 100%;
        visibility: visible;
        transition: 0.5s; }
      .bg-se-05 ._lk_bg_sd_we ._bv_xs_we::before {
        content: "";
        position: absolute;
        height: 0;
        width: 100%;
        top: 0;
        background: #000000;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden; }

#contact-us {
  transition: all .7s ease; }

.get {
  padding: 0; }
  .get .heading {
    position: relative;
    display: block;
    margin: 1.25rem 0;
    text-align: center; }
    .get .heading span {
      display: inline-block;
      position: relative;
      color: #929191;
      font-size: 1.875rem;
      text-transform: uppercase;
      margin-right: .625rem;
      font-weight: 100; }
    .get .heading h2 {
      font-size: 1.875rem;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      margin: .625rem 0 0;
      font-weight: 700;
      position: relative;
      width: fit-content;
      padding-top: .3125rem; }
      .get .heading h2::before {
        position: absolute;
        content: "";
        right: 0;
        height: .3125rem;
        width: 3.125rem;
        background: #fae202;
        border-radius: 1.25rem;
        top: 0; }
  .get .wrapper {
    position: reative;
    margin: 1.25rem 0;
    display: block;
    width: 100%; }
    .get .wrapper .content {
      position: relative; }
      .get .wrapper .content form .form-group .form-control {
        height: 2.5rem;
        background: unset;
        border-radius: 0;
        border-color: #fff;
        color: #fff;
        margin: .625rem 0;
        display: unset; }
      .get .wrapper .content .icons {
        position: relative;
        padding: .625rem;
        display: block;
        text-align: center; }
        .get .wrapper .content .icons::before, .get .wrapper .content .icons::after {
          position: absolute;
          content: "";
          width: 280px;
          height: 280px;
          border: 1px solid #3a3501;
          border-radius: 50%;
          left: 30px; }
        .get .wrapper .content .icons::after {
          width: 300px;
          height: 300px;
          left: 1.25rem;
          top: 0; }
        .get .wrapper .content .icons span::before {
          font-size: 12rem;
          color: #fae202; }
      .get .wrapper .content p {
        font-size: 1rem;
        color: #929191;
        line-height: 1.625rem;
        margin: .625rem 0; }
      .get .wrapper .content ol li {
        display: block;
        margin: .625rem 0 0;
        position: relative;
        color: #929191;
        font-size: 1.125rem; }
        .get .wrapper .content ol li span {
          display: inline-block;
          color: #929191;
          font-size: 1.25rem;
          margin-right: .625rem; }
  .get .end-footer {
    padding: .625rem 0;
    text-align: center; }
    .get .end-footer p {
      font-size: 1rem;
      color: #929191;
      margin: .625rem 0; }
      .get .end-footer p a {
        margin: 0 .625rem;
        color: #fff; }

/*# sourceMappingURL=style.css.map */
