.get{
    padding:0;

    .heading{
        position: relative;
        display:block;
        margin:1.25rem 0;
        text-align:center;

        span{
            display:inline-block;
            position: relative;
            color:$text-primary;
            font-size: 1.875rem;
            text-transform:uppercase;
            margin-right:.625rem;
            font-weight: 100;
        }

        h2{
         font-size: 1.875rem;
         color:$color-primary;
         text-transform: uppercase;
         display: inline-block;
         margin: .625rem 0 0;
         font-weight: 700;
         position: relative;
         width: fit-content;
         padding-top:.3125rem;

            &::before{
                position: absolute;
                content:"";
                right:0;
                height: .3125rem;
                width: 3.125rem;
                background:$icons-color;
                border-radius:1.25rem;
                top:0;
            }
        }
    }

    .wrapper{
        position:reative;
        margin:1.25rem 0;
        display:block;
        width:100%;

        .content{
            position:relative;

            form{
                .form-group{
                    .form-control{
                        height:2.5rem;
                        background:unset;
                        border-radius:0;
                        border-color:$color-primary;
                        color:$color-primary;
                        margin:.625rem 0;
                        display:unset;
                    }
                }
            }
            .icons{
                position: relative;
                padding:.625rem;
                display:block;
                text-align: center;

                &::before,&::after{
                    position: absolute;
                    content: "";
                    width: 280px;
                    height: 280px;
                    border: 1px solid #3a3501;
                    border-radius: 50%;
                    left: 30px;
                }

                &::after{
                    width:300px;
                    height:300px;
                    left:1.25rem;
                    top:0;
                }

                span{
                    
                    &::before{
                        font-size:12rem;
                        color:$icons-color;
                    }
                }
            }

            p{
                font-size:1rem;
                color:$text-primary;
                line-height:1.625rem;
                margin:.625rem 0;
            }

            ol{
                li{
                    display:block;
                    margin:.625rem 0 0;
                    position: relative;
                    color:$text-primary;
                    font-size:1.125rem;

                    span{
                        display:inline-block;
                        color:$text-primary;
                        font-size:1.25rem;
                        margin-right:.625rem;
                    }
                }
            }
        }
    }

    .end-footer{
        padding:.625rem 0;
        text-align:center;

        p{
            font-size:1rem;
            color:$text-primary;
            margin:.625rem 0;

            a{
                margin:0 .625rem;
                color:$color-primary;
            }
        }
    }
}